<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Lista de Alimentos</title>
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Lista de Alimentos</h1>
  <table class="table mt-3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Fat</th>
      <th>Carbohydrates</th>
      <th>Weight</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="foodInfo : ${foodinfo}">
      <td th:text="${foodInfo.id}"></td>
      <td th:text="${foodInfo.name}"></td>
      <td th:text="${foodInfo.calories}"></td>
      <td th:text="${foodInfo.protein}"></td>
      <td th:text="${foodInfo.fat}"></td>
      <td th:text="${foodInfo.carbohydrates}"></td>
      <td th:text="${foodInfo.weight}"></td>
<!--      <td th:text="${foodInfo.Calories}"></td>-->
<!--      <td th:text="${foodInfo.Protein}"></td>-->
<!--      <td th:text="${foodInfo.Fat}"></td>-->
<!--      <td th:text="${foodInfo.Carbohydrates}"></td>-->
<!--      <td th:text="${foodInfo.Weight}"></td>-->
    </tr>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>